.main-pg {
  width: 100%;
  height: 1400px;
  padding: 0;
  margin: 0;
  background-image:url(https://www.djkn.kemenkeu.go.id/files/images/2022/06/i6gnlf4k2o.jpg);
  background-size:cover;
  font-family: 'Montserrat', sans-serif;
}

li a:hover:not(.current) {
  background-color: #2B9F98;
}

.setnav {
  font-weight: bolder;
  font-size: x-large;
}

.current {
  background-color: #2B9F98;
}

.header {
  margin-top: 200px;
  margin-left: 200px;
  font-weight: bold;
}

.quote {
  margin-top: 10px;
  margin-left: 200px;
  font-weight: 300;
  font-style: italic;
}

.by {
  margin-top: 5px;
  margin-left: 835px;
}

.logo {
  color: white;
  font-size: 80px;
  margin-top: 850px;
  margin-left: 200px;
}

.address {
  padding-left: 20px;
  font-weight: bold;
}

.pg {
  width: 100%;
  height: 1400px;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #7AA8B7;
}

.content {
  width: 34%;
  height: 550px;
  background-color: #D9D9D9;
  margin: 320px 800px;
  padding: 30px;
}

.top {
  margin-top: 20px;
}

.topnleft {
  margin-top: 20px;
  margin-left: 120px;
}


.baris {
  margin-top: 78px;
  margin-left: 205px;
  display: flex;
}

.kolom {
  margin-right: 450px;
}

.kolom img {
  width: 246px;
  height: 298px;
}